<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachogos Pet Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/stylecarrito.css">
</head>
<body>
    <header class="mainHeader">  <!--es el header completo, que tendra tres lineas grandes, primera con logo llamada + nro + logo wapp, 
        segunda con logoPetShop + barra buscadora + iconos de register y carrito y tercera con nav bar. -->

       <div class="contenedorSuperior">
        
        
                <ul class ="listaLogo-Llamada-Numero-wapp">

                    <li><a class ="phone" href="aaaaa.html"><i class="fa-solid fa-phone" ></i></a></li>
                    <li><a class="numero" href="bbbbb.html">0800-999-2345</a></li>                
                    <li class="separador">|</li>                                
                    <li><a class="logoWapp" href="bbbbb.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>                 
           
       </div>
         
     
        <div class = "contenedorIntermedio">   <!--linea superior del header que sera contenedor padre flex de logo, barra buscadora y 3 iconos -->

                    
            <div class="burger-logoPet">
                <div class="burger-menu">

                    <i class="fas fa-bars fa-lg"></i> 
        
                </div>      
                
                <img class="logoCachogoPetShop" src = "/img/LOGO-PETSHOP.png" alt="Logotipo Cachgos Pet Shop">
            </div>
       
            <!-- <div class = "barraBuscadora-Icon-Buscar">  contenedor padre flex de barra buscadora, icono y palabra buscar               -->
                            
                

            <div class="input-searchIcon">

               <input type="text" class="textoBuscarEnBarra" placeholder="Buscar...">            
               <i class="fa-solid fa-magnifying-glass searchIcon"></i>  <!--searchIcon es la segunda clase del icono search-->
                
            </div>
          
                               
            <ul class = "logosMargenDerecho">

                <li><a class="logo-wapp-desktop" href="aaaaa.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a class="iconoBuscarMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                
                <ul class="iconoUserRegistrarse">
                    <li><a class="iconoUserMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-user"></i></a></li>
                    <li><a class="IniciarSesion" href="aaaaa.html">Iniciar Sesión/</a></li>
                    <li><a class="Registrarse" href="aaaaa.html">Registrarse</a></li>
                    
                </ul>

                <ul class="iconoMisCompras">
                <li><a class="iconoCarritoMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a class="misCompras" href="aaaaa.html">Mis Compras</a></li>
                </ul>

            </ul>

        </div>

        <nav class="contenedorInferior"> <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
        
            <ul class="leftBottomHeader">

                <li><a class="productos" href="Productos.html">Productos</a></li>
                
            </ul>

            <ul class="rigthBottomHeader">

                <li ><a class="Inicio" href="Inicio.html">Inicio</a></li>
                <li ><a class="Ofertas" href="Ofertas.html">Ofertas</a></li>
                <li ><a class="Blog" href="Blog.html">Blog</a></li>
                <li ><a class="Sucursales" href="Sucursales.html">Sucursales</a></li>
                <li ><a class="Contacto" href="Contacto.html">Contacto</a></li>
            
            </ul>                                    

        </nav>
    </header>

    <main>
        <section class=compra-segura>
            <i class="fa-solid fa-lock"></i> Compra Segura 
        </section>
        <section>      
            <h2>
                <i class="fa-solid fa-cart-shopping"></i> Mi Carrito de Compras
            </h2>
        </section>  
         
        <div>
            <ul class="productos">
                <li><img width=70px heigth= 70px src="/img/EUKANUBA-grande1.jpg" alt="producto1"></li>
                    <ul>
                        <li class="marca">EUKANUBA</li>
                        <li class="brevedescripción">RAZAS PEQUEÑAS, PERROS MAYORES A 1 AÑO, BOLSA 3KG</li>
                        <li class="precio">$4.200</li>
                        <li class="cantidad">- Num +</li>
                        <li class="eliminar"><i class="fa-solid fa-trash-can"></i>Eliminar</li>
                    </ul>
                    
            </ul>
        </div>
        <div>
            <ul class="productos">   
            <li><img width=70px heigth= 70px src ="/img/EUKANUBA-peq1_.jpg" alt="producto2"></li>
                <ul>
                <li class="marca">EUKANUBA</li>
                <li class="brevedescripción">PERROS ADULTO 1,5-6 AÑOS, BOLSA 25KG</li>
                <li class="precio">$10.800</li>
                <li class="cantidad">- Num +</li>
                <li class="eliminar"><i class="fa-solid fa-trash-can"></i>Eliminar</li>
                </ul>   
            </ul>
        </div>    

        <section>      
            <h2>Resumen de mi Orden</h2>
            <p class="cupon"><i class="fa-solid fa-tag"></i> Agregar Cupon de Descuento Aquí</p>
        </section>  
        <section>      
            <h3>Descuentos</h3>
            <h3 class="subtotal">Subtotal <span>$15.000</span></h3>
            <h3 class="envio">Envio <span>GRATIS</span></h3>
            <h3 class="total">Total con Envío <span>$15.000</span></h3>

        <p class="finalizarcompra">FINALIZAR COMPRA</p>
    </main>
        <footer>
            

                <div class = "newsLetter">
                        
                        <section class="mobile">
        
                            <h3>Registrate para recibir novedades!</h3>
        
                            <input type="email" class="registrarseNewsletter-mobile" placeholder="Su e-mail..."> 
        
                            <button type="submit" class="BotonSuscribite">Suscribite</button>
        
                        </section>
        
                        <section class = "desktop">
                            
                            <div class="envolope-Frase">
                                <i class="fa-solid fa-envelope" ></i>
                                <h4>Registrate para recibir novedades!</h4>
                            </div>
        
                            <div class ="barraSuscribirse-BotonRegistrarse">
                                <input type="email" class="registrarseNewsletter" placeholder="Su e-mail..."> 
                                
                                <button type="submit" class="botonSuscribirse">Suscribite</button>
                                
                            </div>
                        </section>
                </div>
            
        </footer>
        
    </body>
    </html>  