<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cachogos Pet Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <!-- <link rel="shortcut icon" href="favicon.ico"> todavia no se coloco ningun icono pero dejo la estructura-->

</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <section>
            <article>

            </article>
        </section>
        <section>
            <article>

            </article>
        </section>
    </main>
    <footer>

    </footer>
    <aside>

    </aside>
</body>
</html>