<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachogos Pet Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="icon" type="image/png" href="/img/LOGO-PETSHOP.png" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header class="mainHeader">  <!--es el header completo, que tendra tres lineas grandes, primera con logo llamada + nro + logo wapp, 
        segunda con logoPetShop + barra buscadora + iconos de register y carrito y tercera con nav bar. -->

       <div class="contenedorSuperior">
        
        
                <ul class ="listaLogo-Llamada-Numero-wapp">

                    <li><a class ="phone" href="aaaaa.html"><i class="fa-solid fa-phone" ></i></a></li>
                    <li><a class="numero" href="bbbbb.html">0800-999-2345</a></li>                
                    <li class="separador">|</li>                                
                    <li><a class="logoWapp" href="bbbbb.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>                 
           
       </div>
         
     
        <div class = "contenedorIntermedio">   <!--linea superior del header que sera contenedor padre flex de logo, barra buscadora y 3 iconos -->

                    
            <div class="burger-logoPet">
                <div class="burger-menu">

                    <i class="fas fa-bars fa-lg"></i> 
        
                </div>      
                
                <img class="logoCachogoPetShop" src = "/img/LOGO-PETSHOP.png" alt="Logotipo Cachgos Pet Shop">
            </div>
       
            <!-- <div class = "barraBuscadora-Icon-Buscar">  contenedor padre flex de barra buscadora, icono y palabra buscar               -->
                            
                

            <div class="input-searchIcon">

               <input type="text" class="textoBuscarEnBarra" placeholder="Buscar...">            
               <i class="fa-solid fa-magnifying-glass searchIcon"></i>  <!--searchIcon es la segunda clase del icono search-->
                
            </div>
          
                               
            <ul class = "logosMargenDerecho">

                <li><a class="logo-wapp-desktop" href="aaaaa.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a class="iconoBuscarMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                
                <ul class="iconoUserRegistrarse">
                    <li><a class="iconoUserMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-user"></i></a></li>
                    <li><a class="IniciarSesion" href="aaaaa.html">Iniciar Sesión/</a></li>
                    <li><a class="Registrarse" href="aaaaa.html">Registrarse</a></li>
                    
                </ul>

                <ul class="iconoMisCompras">
                <li><a class="iconoCarritoMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a class="misCompras" href="aaaaa.html">Mis Compras</a></li>
                </ul>

            </ul>

        </div>

        <nav class="contenedorInferior"> <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
        
            <ul class="leftBottomHeader">

                <li><a class="productos" href="Productos.html">Productos</a></li>
                
            </ul>

            <ul class="rigthBottomHeader">

                <li ><a class="Inicio" href="Inicio.html">Inicio</a></li>
                <li ><a class="Ofertas" href="Ofertas.html">Ofertas</a></li>
                <li ><a class="Blog" href="Blog.html">Blog</a></li>
                <li ><a class="Sucursales" href="Sucursales.html">Sucursales</a></li>
                <li ><a class="Contacto" href="Contacto.html">Contacto</a></li>
            
            </ul>                                    

        </nav>

    </header>

    <main>
        <form action="" class="" id="">
         <!-- Grupo: Email -->
         <div class="" id="">
             <label for="" class="">E-mail</label>
             <div class="">
                 <input type="email" class="" name="" id="" placeholder="correo@correo.com">
                 <i class="fa-solid fa-circle-xmark"></i>
             </div>
             <p class="">El email tiene que ser un formato de mail valido.</p>
         </div>
         <!-- Grupo: Contraseña -->
         <div class="" id="">
             <label for="" class="">Contraseña</label>
             <div class="">
                 <input type="password" class="" name="" id="" placeholder="********">
                 <i class="fa-solid fa-circle-xmark"></i>
             </div>
             <p class="">La contraseña tiene que ser de 8 a 16 carácteres, debe incluir minimamente mayúscula, minúscula y número.</p>
         </div>
         <!-- Grupo: Terminos y Condiciones -->
         <div class="" id="">
             <label for="" class=""></label>
                 <input type="checkbox" class="" name="" id="">
                 Acepto los Terminos y Condiciones
             </div>
         <div class="" id="">
             <p class=""><b>Error:</b> Por favor rellena el formulario correctamente.</p>
             </div>
         <div>
             <button type="submit" class="">Registrarse</button>
         </div>
        </form>
        
     </main>
     <footer>

        <div class = "newsLetter">
                
                <section class="mobile">

                    <h3>Registrate para recibir novedades!</h3>

                    <input type="email" class="registrarseNewsletter-mobile" placeholder="Su e-mail..."> 

                    <button type="submit" class="BotonSuscribite">Suscribite</button>

                </section>

                <section class = "desktop">
                    
                    <div class="envolope-Frase">
                        <i class="fa-solid fa-envelope" ></i>
                        <h4>Registrate para recibir novedades!</h4>
                    </div>

                    <div class ="barraSuscribirse-BotonRegistrarse">
                        <input type="email" class="registrarseNewsletter" placeholder="Su e-mail..."> 
                        
                        <button type="submit" class="botonSuscribirse">Suscribite</button>
                        
                    </div>
                </section>
        </div>
    </footer>
</body>
</html>