<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachogos Pet Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link rel="icon" type="image/png" href="/img/LOGO-PETSHOP.png" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header class="mainHeader">  <!--es el header completo, que tendra tres lineas grandes, primera con logo llamada + nro + logo wapp, 
        segunda con logoPetShop + barra buscadora + iconos de register y carrito y tercera con nav bar. -->

       <div class="contenedorSuperior">
        
        
                <ul class ="listaLogo-Llamada-Numero-wapp">

                    <li><a class ="phone" href="aaaaa.html"><i class="fa-solid fa-phone" ></i></a></li>
                    <li><a class="numero" href="bbbbb.html">0800-999-2345</a></li>                
                    <li class="separador">|</li>                                
                    <li><a class="logoWapp" href="bbbbb.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>                 
           
       </div>
         
     
        <div class = "contenedorIntermedio">   <!--linea superior del header que sera contenedor padre flex de logo, barra buscadora y 3 iconos -->

                    
            <div class="burger-logoPet">
                <div class="burger-menu">

                    <button type="submit" class="botonBurger"><i class="fas fa-bars fa-2x"></i></button>
        
                </div>      
                
                <a href="Inicio.html"><img class="logoCachogoPetShop" src = "/Logo imgs/Logo7 color sec 1.png" alt="Logotipo Cachgos Pet Shop"></a>
            </div>
                     

            <div class="input-searchIcon"> <!--modo desktop -  barra buscadora-->

               <input type="text" class="textoBuscarEnBarra" placeholder="Buscar...">            
               <button class="botonSearch-Desktop" type="submit"><i class="fa-solid fa-magnifying-glass botonSearchDektop"></i></button> <!--searchIcon es la segunda clase del icono search-->
              
            </div>
          
                               
            <ul class = "logosMargenDerecho">

                <li><a class="logo-wapp-desktop" href="aaaaa.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a class="iconoBuscarMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                
                <ul class="iconoUserRegistrarse">
                    <li><a class="iconoUserMargenDerecho" href="/login"><i class="fa-solid fa-user"></i></a></li>
                    <li><a class="IniciarSesion" href="/login">Iniciar Sesión/</a></li>
                    <li><a class="Registrarse" href="/register">Registrarse</a></li>
                    
                </ul>

                <ul class="iconoMisCompras">
                <li><a class="iconoCarritoMargenDerecho" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a class="misCompras" href="/carrito">Mis Compras</a></li>
                </ul>

            </ul>

        </div>

        <nav class="contenedorInferior"> <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
        
            <ul class="leftBottomHeader">

                <li><a class="productos" href="Productos.html">Productos</a></li>
                
            </ul>

            <ul class="rigthBottomHeader">

                <li ><a class="Inicio" href="/index">Inicio</a></li>
                <li ><a class="Ofertas" href="Ofertas.html">Ofertas</a></li>
                <li ><a class="Blog" href="Blog.html">Blog</a></li>
                <li ><a class="Sucursales" href="Sucursales.html">Sucursales</a></li>
                <li ><a class="Contacto" href="Contacto.html">Contacto</a></li>
            
            </ul>                                    

        </nav>

    </header>

    <main>
        <h2>Ingresar a mi cuenta</h2>
        <form action="" class="" id="">

            <div class="campos-form">
                <!-- Grupo: Email -->
        <div class="email" id="">
            <label for="email" class="mailLabel">E-mail</label>
            <div class="mailInput-i">
                <input type="email" class="mailInput" name="email" id="email" placeholder="correo@correo.com">
                <div class="mailIcon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
            </div>
            <p class="error-email">El email tiene que ser un formato de mail valido.</p>
        </div>
        <!-- Grupo: Contraseña -->
        <div class="contraseña" id="">
            <label for="password" class="contraLabel">Contraseña</label>
            <div class="contraInput-i">
                <input type="password" class="contraInput" name="password" id="password" placeholder="********">
                <div class="contraIcon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
            </div>
            </div>
         
            <p class="error-password">La contraseña tiene que ser de 8 a 16 carácteres, debe incluir minimamente mayúscula, minúscula y número.</p>
        </div>
        <a href="">¿Olvidaste tu contraseña?</a>
        <div class="boton-inicio-sesión">
            <button type="submit" class="boton">Iniciar Sesión</button>
        </div>
        <div class="error-formulario" id="">
            <p class=""><b>Error:</b> Por favor rellena los campos correctamente.</p>
            </div>
            <div class="separador-login">
                <p>---------------------</p>
            </div>
            <div class="link-registro">
                <a href="/register">¿Todavía no ténes una cuenta?<br>
                    <b>Registrarme</b>
                </a>
            </div>
       </form>
        
     </main>
     <footer>

        <div class = "newsLetter">
                
            <section class="mobile">

                <h4>Registrate y recibí nuestras novedades!</h4>

                <input type="email" class="registrarseNewsletter-mobile" placeholder="Tu e-mail..."> 

                <button type="submit" class="BotonSuscribite">Suscribite</button>
                  
            </section>

            <section class = "desktop">
                
                <div class="envolope-Frase">
                    <i class="fa-solid fa-envelope iconoMensaje"></i>
                    <p>Registrate y recibí nuestras novedades!</p>
                </div>

                <div class ="barraSuscribirse-BotonRegistrarse">
                    <input type="email" class="registrarseNewsletter" placeholder="Tu e-mail..."> 
                    
                    <button type="submit" class="botonSuscribirse">Suscribite</button>
                    
                </div>
            </section>

        </div>

        <div class = "footerIntermedio-mobile">

            
            <a href="Inicio.html"><img class="logoCachogoPetShop-footer" src = "/Logo imgs/Logo7 color sec 1.png" alt="Logotipo Cachgos Pet Shop"></a>
    
        </div>


        <div class = "footerInferior-mobile">
     
               
                <ul class="footerInferior-links">


                    <div class="enlacesFooter-mobile">
                        <li ><a class="NOSOTROS" href="Inicio.html">NOSOTROS</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>

                    <div class="enlacesFooter-mobile">
                        <li ><a class="CATERGORÍAS" href="Ofertas.html">CATERGORÍAS</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>


                    <div class="enlacesFooter-mobile">
                        <li ><a class="INFORMACIÓN" href="Blog.html">INFORMACIÓN</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>
                    
                    <div class="enlacesFooter-mobile">
                        <li ><a class="FORMAS DE PAGO" href="Sucursales.html">FORMAS DE PAGO</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>                   
                   

                    <div class="enlacesFooterRedes-mobile">
                        <li ><a href="https://www.instagram.com/"><img class="Instagram" src = "/img/INSTA.png" alt="Instagram"></a></li>
                        <li ><a href="https://es-la.facebook.com/"><img class="Facebook" src = "/img/FB.png" alt="Facebook"></a></li>
                        <li ><a href="https://www.youtube.com/"><img class="Youtube" src = "/img/YTUBE.png" alt="Youtube"></a></li>
                    </div> 
                                        
                </ul>                                    
    
                
        </div>

        <div class = "footerInferior-desktop">

           <a href="Inicio.html"><img class="logoCachogoPetShop-footer" src = "/Logo imgs/Logo7 color sec 1.png" alt="Logotipo Cachgos Pet Shop"></a>

            <div class="links">

                <ul class="listadoLinksNosotros">

                    <li><a class="Nosotros" href="Inicio.html">NOSOTROS</a></li>
                    <li><a class="QuienesSomos" href="Ofertas.html">Quienes somos</a></li>
                    <li><a class="Contacto" href="Blog.html">Contacto</a></li>
                    <li><a class="TrabajaConNosotros" href="Sucursales.html">Trabajá con nosotros</a></li>
                    
                </ul>  
                
                <ul class="listadoLinksCategorias">

                    <li ><a class="Categorías" href="Inicio.html">CATERGORÍAS</a></li>
                    <li ><a class="perros" href="Ofertas.html">Perros</a></li>
                    <li ><a class="gatos" href="Blog.html">Gatos</a></li>
                    <li ><a class="peces" href="Blog.html">Peces</a></li>
                    <li ><a class="aves" href="Blog.html">Aves</a></li>
                    
                </ul>      
                
                <ul class="listadoLinksInformacion">

                    <li ><a class="informacion" href="Inicio.html">INFORMACIÓN</a></li>
                    <li ><a class="delivery" href="Ofertas.html">Delivery</a></li>
                    <li ><a class="promocionesBancarias" href="Blog.html">Promociones bancarias</a></li>
                    <li ><a class="terminosYCondiciones" href="Blog.html">Términos y condiciones</a></li>
                                    
                </ul>    

                <div class="listadoLinksSeguinos-FormasdePago">
                
                    <ul>
                        <li ><a class="redes" href="Inicio.html">SEGUINOS</a></li>
                        <div class="redesSociales">
                            <li ><a href="Inicio.html"><img class="Instagram" src = "/img/INSTA.png" alt="Instagram"></a></li>
                            <li ><a href="Ofertas.html"><img class="Facebook" src = "/img/FB.png" alt="Facebook"></a></li>
                            <li ><a href="Blog.html"><img class="Youtube" src = "/img/YTUBE.png" alt="Youtube"></a></li>
                        </div>        
                    </ul> 
                    
                    <ul>
                        <li ><a class="formasDePago" href="Inicio.html">FORMAS DE PAGO</a></li>
                        <div class="tarjetas">
                            <li ><a href="Inicio.html"><img class="visa" src = "/img/VISA.png" alt="Tarjeta VISA"></a></li>
                            <li ><a href="Blog.html"><img class="AmericanExpress" src = "/img/AMEX (1).png" alt="Tarjeta AMEX"></a></li>
                            <li ><a href="Blog.html"><img class="mercadoPago" src = "/img/MP.png" alt="MERCADO PAGO"></a></li>
                        </div>       
                    </ul> 
                </div>
            </div>
            
        </div>  

    </footer>

    <aside>

        <div class = "socalo-mobile">

            <a href="https://www.afip.gob.ar/960/formulario-960/concepto.asp"><img class="dataFiscal-mobile" src = "/img/dataFiscal.png" alt="Data Fiscal"></a>      
            <div class="infoSocalo">
                <li >© 2022 - Cachogos Pet Shop - Todos los derechos reservados</li>
                    
            </div>       
            
        </div>

        <div class = "socalo-desktop">
            
            <a href="https://www.afip.gob.ar/960/formulario-960/concepto.asp"><img class="dataFiscal-desktop" src = "/img/dataFiscal.png" alt="Data Fiscal"></a>
            <div class="infoSocalo">
                <li >© 2022 - Cachogos Pet Shop - Todos los derechos reservados</li>
                    
            </div>       
        </div> 

    </aside>
</body>
</html>