<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachogos Pet Shop</title>

    <!-- referencio a las hojas de estilo ppal (header y footer) y secundaria para esta pag (main)-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_Product.css">   
    
    
    <!-- <link rel="shortcut icon" href="favicon.ico"> todavia no se coloco ningun icono pero dejo la estructura-->
    
    <link rel="icon" type="image/png" href="/img/LOGO-PETSHOP.png" >  <!--imagen de nombre 'icono', formato '.png', en carpeta local 'imag' -->
    
    <!--siguientes 3 link copiados de google fonts para importar el tipo de letra ROBOTO, aplicado en el archivo .css -->
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
   
    
    <!--link copiados fontawsome cdn, ultima version para importar iconos -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <!--paquete bootstrap -->

  
</head>



<body>   

    <header class="mainHeader">  <!--es el header completo, que tendra tres lineas grandes, primera con logo llamada + nro + logo wapp, 
        segunda con logoPetShop + barra buscadora + iconos de register y carrito y tercera con nav bar. -->

       <div class="contenedorSuperior">
        
        
                <ul class ="listaLogo-Llamada-Numero-wapp">

                    <li><a class ="phone" href="aaaaa.html"><i class="fa-solid fa-phone" ></i></a></li>
                    <li><a class="numero" href="bbbbb.html">0800-999-2345</a></li>                
                    <li class="separador">|</li>                                
                    <li><a class="logoWapp" href="bbbbb.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>                 
           
       </div>
         
     
        <div class = "contenedorIntermedio">   <!--linea superior del header que sera contenedor padre flex de logo, barra buscadora y 3 iconos -->

                    
            <div class="burger-logoPet">
                <div class="burger-menu">

                    <i class="fas fa-bars fa-2x"></i> 
        
                </div>      
                
                <a href="Inicio.html"><img class="logoCachogoPetShop" src = "/img/LOGO-PETSHOP.png" alt="Logotipo Cachgos Pet Shop"></a>
            </div>
                     

            <div class="input-searchIcon"> <!--modo desktop -  barra buscadora-->

               <input type="text" class="textoBuscarEnBarra" placeholder="Buscar...">            
               <i class="fa-solid fa-magnifying-glass searchIcon"></i>  <!--searchIcon es la segunda clase del icono search-->
                
            </div>
          
                               
            <ul class = "logosMargenDerecho">

                <li><a class="logo-wapp-desktop" href="aaaaa.html"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a class="iconoBuscarMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                
                <ul class="iconoUserRegistrarse">
                    <li><a class="iconoUserMargenDerecho" href="/login"><i class="fa-solid fa-user"></i></a></li>
                    <li><a class="IniciarSesion" href="/login">Iniciar Sesión/</a></li>
                    <li><a class="Registrarse" href="/register">Registrarse</a></li>
                    
                </ul>

                <ul class="iconoMisCompras">
                <li><a class="iconoCarritoMargenDerecho" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a class="misCompras" href="/carrito">Mis Compras</a></li>
                </ul>

            </ul>

        </div>

        <nav class="contenedorInferior"> <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
        
            <ul class="leftBottomHeader">

                <li><a class="productos" href="Productos.html">Productos</a></li>
                
            </ul>

            <ul class="rigthBottomHeader">

                <li ><a class="Inicio" href="Inicio.html">Inicio</a></li>
                <li ><a class="Ofertas" href="Ofertas.html">Ofertas</a></li>
                <li ><a class="Blog" href="Blog.html">Blog</a></li>
                <li ><a class="Sucursales" href="Sucursales.html">Sucursales</a></li>
                <li ><a class="Contacto" href="Contacto.html">Contacto</a></li>
            
            </ul>                                    

        </nav>

       

    </header>



    <main>

              
<!----------------------------------------------SECCION FOTO PPAL + DESCRPCION Y COMPRA DE PRODCUTO-------------------------------------------------->

        <section class="main-foto-descripcion-mobile-desktop">
            
            <div class="div-fotoppal-fotospeque">
                <div class="fotoProducto-Mobile">
                    
                    <img class="fotoProductoCarrouuselMobile" src = "/img/LOGO-PETSHOP.png" alt="Producto">


                </div>


                <div class="divfotosPeq">

                    <a href="Inicio.html"><img class="fotosPeq" src = "/img/LOGO-PETSHOP.png" alt="Producto"></a>
                    <a href="Inicio.html"><img class="fotosPeq" src = "/img/LOGO-PETSHOP.png" alt="Producto"></a>
                    <a href="Inicio.html"><img class="fotosPeq" src = "/img/LOGO-PETSHOP.png" alt="Producto"></a>
                    <a href="Inicio.html"><img class="fotosPeq" src = "/img/LOGO-PETSHOP.png" alt="Producto"></a>
                

                </div>
                
            </div>   

            <div class="div-descripcion-a-desktop"> <!----DIV CREADO PARA SEGUNDA QUERY-------->
            
                <div class ="Producto-descripcion">

                    <h2> Alimento Perros Mediano - Eukanuba - 10 kg</h2>

                    <div class="div-enlaceMarca-SKU-mobile">
                        <li class="enlaceMarca-li-mobile"><a class="enlaceMarca-a-mobile" href="Sucursales.html">Eukanuba</a></li>
                        <li class="sepearador-mobile">|</li>
                        <li class="SKU-mobile">SKU89458M2</li>
                        
                    </div>

                    <li class="precioProducto-moblie">$ 10.000</li>
                    <li class="cuotas-mobile">Hasta 4 cuotas sin interes de $2.500 con Bancos seleccionados</li>

                    
                </div>      

                <hr class="separadorBarra">
            
                <div class ="seleccionPeso-mobile">

                    <p>Seleccione el peso del alimento:</p>

                    <div class="pesoAlimento-Mobile">
                        
                                            <!----------------------------------------------ver si es boton solo o con enlace?!-------------------------------------------------->
                        <a href="Inicio.html"><button class="botonPeso-Mobile" type="submit">7 Kg</button></a>
                        <button class="botonPeso-Mobile" type="submit">15 Kg</button>
                    
                    </div>
                    
                </div>      
                <hr class="separadorBarra">
                <div class="divCantidadDisponible-mobile">
                    <p class="cantidadDisponible-mobile">Cantidad disponible: (8 - ocho unidades)</p>
                </div>


                <div class ="botonera-cantidad-carrito-comprar-mobile">

                
                    <div class="Div-botones-cantidad-agregarCarrito-mobile">
                        
                                            <!----------------------------------------------ver si es boton solo o con enlace?!-------------------------------------------------->
                        <button class="botonSeleccionCantidad-Mobile" type="submit">- / +</button>
                        <button class="botonAgregarAlCarrito-Mobile" type="submit"> AGREGAR AL CARRITO</button>
                    
                    </div>

                    <div class="Divbotones-comprarAhora-mobile">                  
                    
                        <button class="botoncomprarAhora-Mobile" type="submit">COMPRAR AHORA</button>

                    </div>
                    
                </div>

                <div class="divCompartirRedes-mobile">
                    <p class="compartir-mobile">Compartir:</p>

                    <ul class="lista-enlacesRedes-mobile">
                    
                        <li ><a href="Inicio.html"><img class="Instagram" src = "/img/INSTA.png" alt="Instagram"></a></li>
                        <li ><a href="Ofertas.html"><img class="Facebook" src = "/img/FB.png" alt="Facebook"></a></li>
                        <li ><a href="Blog.html"><img class="Youtube" src = "/img/YTUBE.png" alt="Youtube"></a></li>
                                
                    </ul>  
                    
                </div>     
            </div>

        </section>     

        <section>

            <div class="divEnlacesSeccion2-mobile">

                <div class="enlacesSeccion2-mobile">
                    <li class="menuDesplegable-mobile">DESCRIPCIÓN</li>
                    <li class="botonAmpliar-mobile">+</li>
                </div>

                
                <div class="enlacesSeccion2-mobile">
                    <li class="menuDesplegable-mobile">DETALLES</li>
                    <li class="botonAmpliar-mobile">+</li>

                </div>

                <div class="enlacesSeccion2-mobile">
                    <li class="menuDesplegable-mobile">OPINIONES</li>
                    <li class="botonAmpliar-mobile">+</li>
                </div>

            </div>


        </section>

        <!--------------------------------------------RECOMENDADOS-------------------------------------------------->
                


        <section>

            <div class="divRecomendados">
                <p>PRODUCTOS RECOMENDADOS</p>
            </div>

            <div class="div-Articulo-Recomendados-Mobile">
            
                <!--------------------------LE DOY FLEX AL ENLACE TAMBIEN PARA CENTRAR LA FOTO CUANDO LE ACHICO EL WIDTH-------------------------------------------------->
                                
                <article class="div-tarjetaRecomendados">

                    <a class="enlaceFotoRec-mobile" href="Inicio.html"><img class="fotoProductoRecomendado-Carrouusel-Mobile" src = "/images/images(revision)/Mobile - Home -Producto recomendado1.webp" alt="Producto"></a>

                    <div class ="div-Producto-recomendado-descripcion">

                        <p> Alimento Perros Grande - Royal Cannin - 15 kg</p>

                     
                        <li class="precioProducto-recomendado-moblie">$ 20.000</li>
                        <li class="cuotas-recomendado-mobile">Hasta 4 cuotas sin interes de $5.000 con Bancos seleccionados</li>

                
                    </div>   
                </article>


                <article class="div-tarjetaRecomendados2">

                    <a class="enlaceFotoRec-mobile" href="Inicio.html"><img class="fotoProductoRecomendado-Carrouusel-Mobile" src = "/images/images(revision)/Desk - Publicación abierta(productos recomendados4).webp" alt="Producto"></a>

                    <div class ="div-Producto-recomendado-descripcion">

                        <p> Alimento Perros Grande - Royal Cannin - 15 kg</p>

                     
                        <li class="precioProducto-recomendado-moblie">$ 20.000</li>
                        <li class="cuotas-recomendado-mobile">Hasta 4 cuotas sin interes de $5.000 con Bancos seleccionados</li>

                
                    </div>   
                </article>


                <article class="div-tarjetaRecomendados3">

                    <a class="enlaceFotoRec-mobile" href="Inicio.html"><img class="fotoProductoRecomendado-Carrouusel-Mobile" src = "/images/images(revision)/Mobile - Home -Producto recomendado2.webp" alt="Producto"></a>

                    <div class ="div-Producto-recomendado-descripcion">

                        <p> Alimento Perros Grande - Royal Cannin - 20 kg</p>

                     
                        <li class="precioProducto-recomendado-moblie">$ 30.000</li>
                        <li class="cuotas-recomendado-mobile">Hasta 3 cuotas sin interes de $10.000 con Bancos seleccionados</li>

                
                    </div>   
                </article>

                <article class="div-tarjetaRecomendados4">

                    <a class="enlaceFotoRec-mobile" href="Inicio.html"><img class="fotoProductoRecomendado-Carrouusel-Mobile" src = "/images/images(revision)/Mobile - Publicación -Producto recomendado.webp" alt="Producto"></a>

                    <div class ="div-Producto-recomendado-descripcion">

                        <p> Alimento Perros Grande - Royal Cannin - 3 kg</p>

                     
                        <li class="precioProducto-recomendado-moblie">$ 10.000</li>
                        <li class="cuotas-recomendado-mobile">Hasta 4 cuotas sin interes de $2.500 con Bancos seleccionados</li>

                
                    </div>   
                </article>

            </div>


        </section>
      

    </main>     

 
    <footer>

        <div class = "newsLetter">
                
            <section class="mobile">

                <h4>Registrate y recibí nuestras novedades!</h4>

                <input type="email" class="registrarseNewsletter-mobile" placeholder="Tu e-mail..."> 

                <button type="submit" class="BotonSuscribite">Suscribite</button>
                  
            </section>

            <section class = "desktop">
                
                <div class="envolope-Frase">
                    <i class="fa-solid fa-envelope iconoMensaje"></i>
                    <p>Registrate y recibí nuestras novedades!</p>
                </div>

                <div class ="barraSuscribirse-BotonRegistrarse">
                    <input type="email" class="registrarseNewsletter" placeholder="Tu e-mail..."> 
                    
                    <button type="submit" class="botonSuscribirse">Suscribite</button>
                    
                </div>
            </section>

        </div>

        <div class = "footerIntermedio-mobile">

            
            <a href="Inicio.html"><img class="logoCachogoPetShop-footer" src = "/img/LOGO-PETSHOP.png" alt="Logotipo Cachgos Pet Shop"></a>
    
        </div>


        <div class = "footerInferior-mobile">
     
               
                <ul class="footerInferior-links">


                    <div class="enlacesFooter-mobile">
                        <li ><a class="NOSOTROS" href="Inicio.html">NOSOTROS</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>

                    <div class="enlacesFooter-mobile">
                        <li ><a class="CATERGORÍAS" href="Ofertas.html">CATERGORÍAS</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>


                    <div class="enlacesFooter-mobile">
                        <li ><a class="INFORMACIÓN" href="Blog.html">INFORMACIÓN</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>
                    
                    <div class="enlacesFooter-mobile">
                        <li ><a class="FORMAS DE PAGO" href="Sucursales.html">FORMAS DE PAGO</a></li>
                        <li class="botonAmpliar-mobile">+</li>
                    </div>                   
                   

                    <div class="enlacesFooterRedes-mobile">
                        <li ><a href="Inicio.html"><img class="Instagram" src = "/img/INSTA.png" alt="Instagram"></a></li>
                        <li ><a href="Ofertas.html"><img class="Facebook" src = "/img/FB.png" alt="Facebook"></a></li>
                        <li ><a href="Blog.html"><img class="Youtube" src = "/img/YTUBE.png" alt="Youtube"></a></li>
                    </div> 
                                        
                </ul>                                    
    
                
        </div>

        <div class = "footerInferior-desktop">
   
           <a href="Inicio.html"><img class="logoCachogoPetShop-footer" src = "/img/LOGO-PETSHOP.png" alt="Logotipo Cachgos Pet Shop"></a>

            <div class="links">

                <ul class="listadoLinksNosotros">

                    <li><a class="Nosotros" href="Inicio.html">NOSOTROS</a></li>
                    <li><a class="QuienesSomos" href="Ofertas.html">Quienes somos</a></li>
                    <li><a class="Contacto" href="Blog.html">Contacto</a></li>
                    <li><a class="TrabajaConNosotros" href="Sucursales.html">Trabajá con nosotros</a></li>
                    
                </ul>  
                
                <ul class="listadoLinksCategorias">

                    <li ><a class="Categorías" href="Inicio.html">CATERGORÍAS</a></li>
                    <li ><a class="perros" href="Ofertas.html">Perros</a></li>
                    <li ><a class="gatos" href="Blog.html">Gatos</a></li>
                    <li ><a class="peces" href="Blog.html">Peces</a></li>
                    <li ><a class="aves" href="Blog.html">Aves</a></li>
                    
                </ul>      
                
                <ul class="listadoLinksInformacion">

                    <li ><a class="informacion" href="Inicio.html">INFORMACIÓN</a></li>
                    <li ><a class="delivery" href="Ofertas.html">Delivery</a></li>
                    <li ><a class="promocionesBancarias" href="Blog.html">Promociones bancarias</a></li>
                    <li ><a class="terminosYCondiciones" href="Blog.html">Términos y condiciones</a></li>
                                    
                </ul>    

                <div class="listadoLinksSeguinos-FormasdePago">
                
                    <ul>
                        <li ><a class="redes" href="Inicio.html">SEGUINOS</a></li>
                        <div class="redesSociales">
                            <li ><a href="Inicio.html"><img class="Instagram" src = "/img/INSTA.png" alt="Instagram"></a></li>
                            <li ><a href="Ofertas.html"><img class="Facebook" src = "/img/FB.png" alt="Facebook"></a></li>
                            <li ><a href="Blog.html"><img class="Youtube" src = "/img/YTUBE.png" alt="Youtube"></a></li>
                        </div>        
                    </ul> 
                    
                    <ul>
                        <li ><a class="formasDePago" href="Inicio.html">FORMAS DE PAGO</a></li>
                        <div class="tarjetas">
                            <li ><a href="Inicio.html"><img class="visa" src = "/img/VISA.png" alt="Tarjeta VISA"></a></li>
                            <li ><a href="Blog.html"><img class="AmericanExpress" src = "/img/AMEX (1).png" alt="Tarjeta AMEX"></a></li>
                            <li ><a href="Blog.html"><img class="mercadoPago" src = "/img/MP.png" alt="MERCADO PAGO"></a></li>
                        </div>       
                    </ul> 
                </div>

            </div>
            
        </div>  

                
    
    </footer>

    <aside>


        <div class = "socalo-mobile">

            <img class="dataFiscal-mobile" src = "/img/dataFiscal.png" alt="Data Fiscal">       
            <div class="infoSocalo">
                <li >© 2022 - Cachogos Pet Shop - Todos los derechos reservados</li>
                    
            </div>       
            

        </div>

        <div class = "socalo-desktop">
            
            <img class="dataFiscal-desktop" src = "/img/dataFiscal.png" alt="Data Fiscal">       
            <div class="infoSocalo">
                <li >© 2022 - Cachogos Pet Shop - Todos los derechos reservados</li>
                    
            </div>       
        </div> 

    </aside>

</body>


</html>