<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachogos Pet Shop</title>

    <link rel="stylesheet" href="/css/style_Product.css">
    
    
    <!-- <link rel="shortcut icon" href="favicon.ico"> todavia no se coloco ningun icono pero dejo la estructura-->
    
    <link rel="icon" type="image/png" href="/images/.png" >  <!--imagen de nombre 'icono', formato '.png', en carpeta local 'images' -->
    
    <!--siguientes 3 link copiados de google fonts para importar el tipo de letra ROBOTO, aplicado en el archivo .css -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

     <!--link copiados fontawsome cdn, ultima version para importar iconos -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


</head>



<body>


    

    <header class="mainHeader">  <!--es el header completo, que tendra dos lineas grandes, primera con logo + barra buscadora + iconos de register y carrito y segunda con nav bar. -->

        
        <div class="logoLlamada-Wapp-Mobile">

            <i class="fa-solid fa-phone"></i>
            <p>0800-999-2345 |</p>
            <i class="fa-brands fa-whatsapp"></i>

        </div>
        
        
        
        <div class = "topHeader">   <!--linea superior del header que sera contenedor padre flex de logo, barra buscadora y 3 iconos -->

            <div class ="logo-barraBuscadora">  <!--contenedor padre flex de logo, barra buscadora -->
                    
                <img class="logoCachogoPetShop" src = "/images/.svg" alt="Logotipo Cachgos Pet Shop">
       
                <div class = "barraBuscadora-Icon-Buscar">  <!--contenedor padre flex de barra buscadora, icono y palabra buscar -->              
                            
                    <div class="searchIcon">
                        <i class="fa-solid fa-magnifying-glass"></i>  <!--barra buscadora con icono. Pongo el icono dentro del titulo si no me hace el salto de linea -->
                    </div>

                    <p class="TextoBuscarEnBarra">Buscar</h2>
                </div>
            </div>

            <i class="fa-brands fa-whatsapp"></i>

            <i class="fa-solid fa-user"></i>

            <i class="fa-solid fa-cart-shopping"></i>


        </div>

        <nav class="bottomHeader"> <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
        
            <ul class="leftBottomHeader">

                <li><a href="Productos.html">Productos</a></li>
                
            </ul>

            <ul class="rigthBottomHeader">

                <li ><a href="Inicio.html">Inicio</a></li>
                <li ><a href="Ofertas.html">Ofertas</a></li>
                <li ><a href="Blog.html">Blog</a></li>
                <li ><a href="Sucursales.html">Sucursales</a></li>
                <li ><a href="Contacto.html">Contacto</a></li>
            
            </ul>                                    

        </nav>

        <div class="burger-menu">

            <i class="fas fa-bars fa-lg"></i> 

        </div>


    </header>


    <main>

        <section>
            <article>

            </article>
        </section>
        <section>
            <article>

            </article>
        </section>

    </main>



    <footer>

    </footer>

    <aside>

    </aside>

</body>


</html>