<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cachogos Pet Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700display=swap">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!-- <link rel="shortcut icon" href="favicon.ico"> todavia no se coloco ningun icono pero dejo la estructura-->
</head>
<body>
    <header>
        <div class="top-header">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">
                    <input type="text" class="" name="" id="" placeholder="Busca tu producto">
                    <i class="fa fa-search"></i>
                </div>
                <div class="submit"></div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Iniciar sesión <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <a href="">Productos</a>
            <div>
                <a href="">Inicio</a>
                <a href="">Ofertas</a>
                <a href="">Blogs</a>
                <a href="">Sucursales</a>
                <a href="">Contacto</a>
            </div>
        </section>
       <form action="" class="" id="">
        <!-- Grupo: Nombre -->
        <div class="" id="">
            <label for="" class="">Nombre</label>
            <div class="">
                <input type="text" class="" name="" id="" placeholder="example John">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <p class="">El nombre tiene que ser de 2 a 16 carácteres, no debe incluir numeros ni simbolos.</p>
        </div>
        <!-- Grupo: Apellido -->
        <div class="" id="">
            <label for="" class="">Apellido</label>
            <div class="">
                <input type="text" class="" name="" id="" placeholder="example Travolta">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <p class="">El apellido tiene que ser de 2 a 16 carácteres, no debe incluir numeros ni simbolos.</p>
        </div>
        <!-- Grupo: Email -->
        <div class="" id="">
            <label for="" class="">E-mail</label>
            <div class="">
                <input type="email" class="" name="" id="" placeholder="correo@correo.com">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <p class="">El email tiene que ser un formato de mail valido.</p>
        </div>
        <!-- Grupo: Contraseña -->
        <div class="" id="">
            <label for="" class="">Contraseña</label>
            <div class="">
                <input type="password" class="" name="" id="" placeholder="********">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <p class="">La contraseña tiene que ser de 8 a 16 carácteres, debe incluir minimamente mayúscula, minúscula y número.</p>
        </div>
        <!-- Grupo: Terminos y Condiciones -->
        <div class="" id="">
            <label for="" class=""></label>
                <input type="checkbox" class="" name="" id="">
                Acepto los Terminos y Condiciones
            </div>
        <div class="" id="">
            <p class=""><b>Error:</b> Por favor rellena el formulario correctamente.</p>
            </div>
        <div>
            <button type="submit" class="">Registrarse</button>
        </div>
       </form>
       
    </main>
    <footer>

    </footer>
    <aside>

    </aside>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>