header {
    text-align: center;
}

main {
    text-align: center;
    height: 80%;
}

@media (max-width: 525px) {
    
    main section {
        display: flex;
        background-color: orange;
        justify-content: space-around
    }
    
    main section a {
        background-color: grey;
        justify-content: space-around
    }
    
    main section div a {
        background-color: grey;
        justify-content: space-around;
        margin: 10px;
    }
    
    form {
        border-radius: 10px;
        margin-bottom: 5%;
        display: inline-block;
        background-color: darkgrey;
        height: 80%;
        width: 70%;
    }
    
    .email {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    
    .contraseña {
        display: flex;
        flex-direction: column;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    
    .terminos {
        display: flex;
        justify-content: center;
    }
    
    .error-email {
        display: none;
    }

    .error-password {
        display: none;
    }

    .error-formulario {
        display: none;
    }

    form a {
        margin-bottom: 3%;
        text-decoration: none;
        list-style: none;
        color: blue;
        font-style: italic;
    }
    
    .boton-registro {
        margin-bottom: 5%;
    }

    .boton {
        border-radius: 8px;
        border-color: grey;
    }
    
    .mailInput-i {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        width: 90%;
        display: flex;
        margin-inline: auto;
    }
    
    .contraInput-i {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        width: 90%;
        display: flex;
        margin-inline: auto;
    }
    
    .mailInput {
        border-radius: 8px;
        border: 0px;
        outline: none;
        width: 90%;
    }
    
    .contraInput {
        border-radius: 8px;
        border: 0px;
        outline: none;
        width: 90%;
    }

    .checkInput {
        margin-right: 1%;
    }
    
    .mailIcon {
        display: none;
        margin-top: 4px;
        padding-right: 5px;
    }
    
    .contraIcon {
        display: none;
        margin-top: 4px;
        padding-right: 5px;
    }
}



/* section {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
} */

@media (min-width:525px) {

    main section {
        display: flex;
        background-color: orange;
        justify-content: space-around
    }
    
    main section a {
        background-color: grey;
        justify-content: space-around
    }
    
    main section div a {
        background-color: grey;
        justify-content: space-around;
        margin: 10px;
    }
    
    
    .terminos {
        display: flex;
    }
    
    .boton-registro {
        margin-bottom: 4%;
    }
    
    .error-email {
        display: none;
    }

    .error-password {
        display: none;
    }

    .error-formulario {
        display: none;
    }

    form {
        border-radius: 10px;
        margin-bottom: 5%;
        display: flex;
        background-color: darkgrey;
        height: 80%;
        width: 70%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-inline: auto
    }

    form a {
        margin-bottom: 1%;
        text-decoration: none;
        list-style: none;
        color: blue;
        font-style: italic;
    }

    .boton-registro{
        margin-inline: auto;
    }

    .boton {
        border-radius: 8px;
        border-color: grey;
    }

    .boton-inicio-sesión{
        margin-bottom: 1%;
    }

    .email {
        margin-top: 5%;
        font-size: 130%;
        display: flex;
        flex-direction: row;
        margin-left: 1%;
        margin-bottom: 2%;
    }

    .contraseña {
        font-size: 130%;
        display: flex;
        flex-direction: row;
        margin-right: 4.9%;
        margin-bottom: 2%;
    }

    .terminos {
        display: flex;
        margin-bottom: 2%;
        width: 45%;
        justify-content: center;
    }

    .nameLabel {
        padding-top: 1.5%;
        margin-right: 5px;
    }

    .lastnameLabel {
        padding-top: 1.5%;
        margin-right: 5px;
    }

    .mailLabel {
        padding-top: 1.5%;
        margin-right: 5px;;
    }

    .contraLabel {
        padding-top: 1.5%;
        margin-right: 5px;
    }

    .terminosLabel {
        margin-right: 5px;
    }

    .nameInput-i {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
    }
    
    .lastnameInput-i {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
    }
    
    .mailInput-i {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
    }
    
    .contraInput-i {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
    }

    .nameInput {
        border-radius: 8px;
        border: 0px;
        outline: none;
    }
    
    .lastnameInput {
        border-radius: 8px;
        border: 0px;
        outline: none;
    }
    
    .mailInput {
        border-radius: 8px;
        border: 0px;
        outline: none;
    }
    
    .contraInput {
        border-radius: 8px;
        border: 0px;
        outline: none;
    }

    .checkInput {
        margin-right: 1%;
    }

    .nameIcon {
        display: none;
        margin-top: 4px;
        padding-right: 5px;
    }
    
    .lastnameIcon {
        display: none;
        margin-top: 4px;
        padding-right: 5px;
    }
    
    .mailIcon {
        display: none;
        margin-top: 4px;
        padding-right: 5px;
    }
    
    .contraIcon {
        display: none;
        margin-top: 4px;
        padding-right: 5px;
    }
}