* {
    font-family: nunito
}

/* ---------------------------------- */
/* HEADER */



.contenedorSuperior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #456A99;
    height: 24px;
    display: block;
}

.listaLogo-Llamada-Numero-wapp {
    display: flex;
    justify-content: center;
    color: white;
    padding-right: 10px;
    padding-left: 15px;
    font-size: 13px;
    padding-top: 3px;
}

li {
    list-style: none;
    text-decoration: none;
    color: white;
}

a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.phone {
    padding-right: 15px;
}

.numero {
    padding-right: 15px;
    color: white;
}

.separador {
    font-weight: bold;
    padding-right: 15px;
}

.contenedorIntermedio {
    display: flex;
    background-color: #3694F5;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-top: 1px white solid;
}

.burger-logoPet {
    display: flex;
    align-items: center;
    width: 195px;
    color:white
}

.burger-menu {

    color: white;
    margin-left: 10px;
    padding: 3px;
    border: white solid 1px;
    border-radius: 3px;
    margin-top: 5px;
    display: block;
}

.logoCachogoPetShop {
    width: 100%;
    height: 60px;
    padding-right: 20px;
    padding-left: 40px;

}

.textoBuscarEnBarra {
    color: grey;
    font-size: 10px;
    padding-left: 8px;
    height: 20px;
    border: solid 0px white;
    border-radius: 8px;
    display: none;
    width: 60%;
    border-color: white;
    outline: none
        /*para sacar el borde negro del input al darle un click */
}

.searchIcon {
    color: black;
    padding-right: 10px;
    display: none
}

.input-searchIcon {
    display: none;
    background-color: white;
    border-radius: 8px;
    border: solid 1px white;
    align-items: center;
    justify-content: space-between;
    width: 40vw
}

.logo-wapp-desktop {
    color: white;
    display: none;
}

.logosMargenDerecho {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
}

.iconoUserRegistrarse {
    justify-content: center;
    padding-left: 20px;
}

.iconoMisCompras {
    justify-content: center;
    padding-left: 25px;
}

.IniciarSesion {
    display: none;
}

.Registrarse {
    display: none;
    font-size: 11px;
}

.misCompras {
    display: none;
    font-size: 11px;
}

.iconoBuscarMargenDerecho {
    padding-right: 10px;
    display: block;
}

.iconoUserMargenDerecho {
    padding-right: 20px;
    padding-left: 20px;
}

.iconoCarritoMargenDerecho {
    padding-right: 10px;
}

.logo-wapp-desktop {
    padding-right: 10px;
}

.contenedorInferior {
    background-color: #3694F5;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: none;
    border-top: 1px solid white;
    font-size: 13px;
}

.rigthBottomHeader {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.Inicio {
    padding-right: 20px;
}

.Ofertas {
    padding-right: 20px;
}

.Blog {
    padding-right: 20px;
}

.Sucursales {
    padding-right: 20px;
}

.Contacto {
    padding-right: 20px;
}

@media (min-width:525px) {

    .contenedorSuperior {
        display: none;
    }

    .contenedorIntermedio {
        border-top: none;
        border-bottom: none;
        height: 100px;
    }

    .burger-logoPet {
        height: 90px;
    }

    .burger-menu {
        display: none;
    }

    .logoCachogoPetShop {
        width: 100%;
        height: 75px;
        padding-right: 20px;
        padding-left: 40px;
        margin-top: 10px;
    }

    .logo-wapp-desktop {
        display: block
    }

    .input-searchIcon {
        display: flex;
    }

    .contenedorInferior {
        display: flex
    }

    .textoBuscarEnBarra {
        display: block;
    }

    .searchIcon {
        display: block
    }

    .iconoBuscarMargenDerecho {
        display: none
    }
}


@media (min-width:750px) {

    .iconoUserRegistrarse {
        margin-top: 30px
    }

    .iconoMisCompras {
        margin-top: 15px
    }

    .IniciarSesion {
        display: block;
    }

    .Registrarse {
        display: block;
    }

    .misCompras {
        display: block;
    }
}

/* ---------------------------------- */

/* FOOTER */

.newsLetter {
    background-color: #456A99;
    height: 130px;
    justify-content: center;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrarseNewsletter-mobile {
    width: 90%;
    outline: none;
    /*para sacar el borde negro del input al darle un click */
    border: solid 0px white;
    border-color: white;
    border-radius: 8px;
    font-size: 12px;
}

.BotonSuscribite {
    width: 91%;
    outline: none;
    /*para sacar el borde negro del input al darle un click */
    border: solid 0px white;
    border-color: white;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: grey;
}

footer h4 {
    color: white;
}



/*------------------------------------FOOTER INTERMEDIO MOBILE-------------------------------------------------------------------------- */

.footerIntermedio-mobile{

    background-color:#3694F5 ;
    border-bottom: dotted 1px white;
    
}

.logoCachogoPetShop-footer{

    width: 50%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    max-width: 120px;
    

}

.footerInferior-mobile{

    background-color:#3694F5 ;
    height: 190px;

}



.footerInferior-links{

    margin-top: 0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: bold;
}

.footerInferior-links li{

   padding-bottom: 8px;
}

.redesSociales-mobile{

    display: flex;
    padding-top: 5px;
    align-items: center;
}


.Instagram{
    width: 40px;
    height: 40px;

}
.Facebook{
width: 35px;
height: 33px;

}
.Youtube{
width: 40px;
height: 40px;

}


/*------------------------------------FOOTER INFERIOR DESKTOP-------------------------------------------------------------------------- */
.footerInferior-desktop{

    display: none;
}

.container-fluid{
    background: #3694F5;
}


/*------------------------------------SOCALO MOBILE-------------------------------------------------------------------------- */
.socalo-mobile{

    background-color: antiquewhite;
    align-items: center;
    display: flex;
   
}

.dataFiscal-mobile{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 8px;

}

.infoSocalo li{

    font-size: 11px;
    color:black
}


/*------------------------------------SOCALO DESKTOP-------------------------------------------------------------------------- */
.socalo-desktop{
    display: none;
}

.dataFiscal-desktop{
    display: none;
}


/*---------------------------------------------@QUERY----------------------------------------------------------------- */

@media (min-width:750px) {

    .newsLetter {
        background-color: #456A99;
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        justify-content: space-between;
        width: 90%;
        border-radius: 8px;
        height: 30px;
        align-items: center;
    }

    .envolope-Frase {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .iconoMensaje {
        padding-right: 10%;
    }

    .barraSuscribirse-BotonRegistrarse {
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 50%;
        height: 30px;
        align-items: center;
        border: white 1px solid;
        border-radius: 8px;
    }

    .registrarseNewsletter {
        border: solid 0px white;
        border-color: white;
        outline: none;
        /*para sacar el borde negro del input al darle un click */
        margin-left: 5px;
    }

    .botonSuscribirse {
        padding-right: 5px;
        border-radius: 8px;
        border: 1px;
        margin-right: 5px;
        color: black;
        background-color: grey;
    }




    .footerIntermedio-mobile{

        display: none;
    }

    .footerInferior-mobile{

        display: none;
    }

    .footerInferior-desktop{


    display: flex;
    
    align-items: center;
    background-color:#3694F5 ;
    height: 200px;
    font-size: 14px;
}
    .logoCachogoPetShop-footer{
        width: 100%;
        height: 160px;
        margin-left: 15px;  /*OJO!! */
    }

    .links{

        display: flex;
        margin-inline: auto;      
    }

    
.listadoLinksNosotros li{

    padding-bottom: 5px;
}

.listadoLinksCategorias li{

    padding-bottom: 5px;
}

.listadoLinksInformacion li{

    padding-bottom: 5px;
}
    
    .redesSociales{

        display: flex;
        padding-top: 5px;
        align-items: center;
    }

    .tarjetas{

        display: flex;
        padding-top: 5px;

    }

    .visa{

        width: 40px;
        height: 40px;


    }

    .AmericanExpress{
    width: 40px;
    height: 40px;


}

    .mercadoPago{
    width: 40px;
    height: 40px;

}

    .Instagram{
        width: 40px;
        height: 40px;
    
}
.Facebook{
    width: 35px;
    height: 33px;

}
.Youtube{
    width: 40px;
    height: 40px;

}

.Nosotros , .Categorías ,.informacion , .redes , .formasDePago{

    font-size: 16px;
    font-weight: bold;
    
}

.socalo-mobile{

    display: none;
}

.socalo-desktop{
    
    background-color: antiquewhite;
    align-items: center;
    display: flex;
   
    padding-left: 11px;
}
.infoSocalo li {

    display: flex;
    color: black;
    font-size: 10px;
}

.dataFiscal-desktop{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 8px;

}


}