* {
    box-sizing: border-box;
}

.mainProductList {

    width: 100%;
    padding-top:0px;
    padding-bottom:25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    background-image: url("../images/fondo2.jpg");
}



.divsCateCelu{
    display: flex;
    flex-direction: column;
}


.selectCate{
    margin-bottom: 7px;
    margin-top: 3px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.botonesX2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start
}


.botonIngresarMobile{
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(206, 195, 195);
  

}
.botonResetMobile{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 60px;

}



.filtrosCateg{
    display: none;

}


.cards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 5px;
    padding-bottom: 8px;
    background-color: rgb(246, 235, 235);

}

.card {
width: 100%;
height: auto;
margin: 8px;
margin-top: 15px;
border: 2px solid rgba(69, 154, 223, 0.938);
padding: 14px 8px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
flex-basis: 29%;
border-radius: 5px;
justify-content: flex-start;
min-width: 250px;

}


.imgProdList {
display: flex;
justify-content: center;
}

.card img {
width: 80%;
height: 250px;
}

.card p {
text-align: center;
text-transform: uppercase;
}

.card a {
text-decoration: none;
color: black;
}
.card .card__productCuota {

text-align: center;
font-size: 90%;



}

.card .card__productName {
padding-top: 15px;
padding-bottom: 10px;
color: rgb(54, 110, 184);


}

.card .card__productPrice{
font-weight: 800;
}

.card:hover{
border: 1px solid blue;
cursor: pointer;
}

.imgProdList{
border: solid rgba(191, 181, 181, 0.888) 1px;
border-radius: 5px;

}
.imagenCards{
padding-top: 10px;
padding-bottom: 10px;
}

.tipoDeFiltros h3{
    text-decoration: underline;
}


@media (min-width: 525px){
    

.divsCateCelu{
    display: none;
}
.mainProductList {

    width: 100%;
    padding-top:0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
   align-items: center;
    background-image: url("../images/fondo2.jpg");
}

.tipoDeFiltros{
    display: flex;
    flex-direction: column;
}

.tipoDeFiltros h3{
    text-align: center;
}

.filtrosCateg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.filters{
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(204, 237, 247);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


.cards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 5px;

}

.card {
width: 100%;
height: auto;
margin: 8px;
margin-top: 15px;

padding: 14px 8px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
flex-basis: 29%;
border-radius: 5px;
justify-content: flex-start;
min-width: 200px;

}


.imgProdList {
display: flex;
justify-content: center;
}

.card img {
width: 80%;
height: 250px;
}

.card p {
text-align: center;
text-transform: uppercase;
}

.card a {
text-decoration: none;
color: black;
}
.card .card__productCuota {

text-align: center;
font-size: 90%;



}

.card .card__productName {
padding-top: 15px;
padding-bottom: 10px;
color: rgb(54, 110, 184);


}

.card .card__productPrice{
font-weight: 800;
}

.card:hover{
border: 1px solid blue;
cursor: pointer;
}

.imgProdList{
border: solid rgba(191, 181, 181, 0.888) 1px;
border-radius: 5px;

}
.imagenCards{
padding-top: 10px;
padding-bottom: 10px;
}


}

/* ------------------------------------------------------------------ */
@media (min-width: 672px){

    .mainProductList {

        width: 100%;
        margin: 0 auto;
        padding-top:25px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background-image: url("../images/fondo2.jpg");
    }
    
    .mainProductList aside {
        width: 40%px;
        margin-right: 8px;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }
    
    .cards {
        margin: 1%;
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-content: center;
        justify-content: center;
        border: solid 1px;
        border-radius: 5px;
    
    }
    

.card {
    width: 100%;
    height: auto;
    margin: 8px;
    margin-top: 15px;

    padding: 14px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 29%;
    border-radius: 5px;
    justify-content: flex-start;
    min-width: 250px;

}

.filtrosCateg{
    display: flex;
    flex-direction: column;
}


.imgProdList {
    display: flex;
    justify-content: center;
}

.card img {
    width: 80%;
    height: 250px;
}

.card p {
    text-align: center;
    text-transform: uppercase;
}

.card a {
    text-decoration: none;
    color: black;
}
.card .card__productCuota {
  
    text-align: center;
    font-size: 90%;
    
    

}

.card .card__productName {
    padding-top: 15px;
    padding-bottom: 10px;
    color: rgb(54, 110, 184);
    

}

.card .card__productPrice{
    font-weight: 800;
}

.card:hover{
    border: 1px solid blue;
    cursor: pointer;
}

.imgProdList{
    border: solid rgba(191, 181, 181, 0.888) 1px;
    border-radius: 5px;

}
.imagenCards{
    padding-top: 10px;
    padding-bottom: 10px;
}



.precioTexto{
    width: 100%;
  
}



}


/* --------------------------------------------------- */
@media (min-width: 756px){

.mainProductList {

    width: 100%;
    margin: 0 auto;
    padding-top:25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("../images/fondo2.jpg");
}

/* .mainProductList aside {
    width: 20%px;
    margin-right: 8px;
    margin: 1%;
    display: flex;
    flex-direction: column;
} */


.mainProductList aside {
    width: 30%px;
    margin-right: 8px;
    margin: 1%;
    display: flex;
    flex-direction: column;
}
.cards {
    margin: 1%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 5px;

}





.card {
    width: 100%;
    height: auto;
    margin: 8px;
    margin-top: 15px;

    padding: 14px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 29%;
    border-radius: 5px;
    justify-content: flex-start;
    min-width: 200px;
}


.imgProdList {
    display: flex;
    justify-content: center;
}

.card img {
    width: 80%;
    height: 250px;
}

.card p {
    text-align: center;
    text-transform: uppercase;
}

.card a {
    text-decoration: none;
    color: black;
}
.card .card__productCuota {
  
    text-align: center;
    font-size: 90%;
    
    

}

.card .card__productName {
    padding-top: 15px;
    padding-bottom: 10px;
    color: rgb(54, 110, 184);
    

}

.card .card__productPrice{
    font-weight: 800;
}

.card:hover{
    border: 1px solid blue;
    cursor: pointer;
}

.imgProdList{
    border: solid rgba(191, 181, 181, 0.888) 1px;
    border-radius: 5px;

}
.imagenCards{
    padding-top: 10px;
    padding-bottom: 10px;
}




.colorListadoEdit{
  color:black;
  list-style-type: circle   
}

.precioTexto{
    width: 100%;
  
}
}