.topHeader{

    display:flex


}

.logo-barraBuscadora{

    display:flex


}


.barraBuscadora-Icon-Buscar{

    display:flex


}


.bottomHeader{

    display:flex


}


.rigthBottomHeader{


    display:flex


}

.logoLlamada-Wapp-Mobile{

    display:flex;
    justify-content: center;
    align-items: center;

}



@media (max-width:414px){

    
    .bottomHeader{

        display:none
    
    
    }


}