* {
    font-family: nunito
}

/* ---------------------------------- */
/* HEADER */

body{

    margin:0px
}

.buscadorHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


header a {
    color: white;
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: none;
}

.contenedorSuperior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #456A99;
    height: 24px;
    display: block;
}

.listaLogo-Llamada-Numero-wapp {
    display: flex;
    justify-content: center;
    color: white;
    padding-right: 10px;
    padding-left: 15px;
    font-size: 13px;
    padding-top: 3px;
}

li {
    list-style: none;
    text-decoration: none;
    color: white;
}

a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.phone {
    padding-right: 15px;
}

.numero {
    padding-right: 15px;
    color: white;
}

.separador {
    font-weight: bold;
    padding-right: 15px;
}

.contenedorIntermedio {
    display: flex;
    background-color: #3694F5;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px white solid;
}

.burger-logoPet {
    display: flex;
    align-items: center;
    width: 195px;
    color:white;
    margin-left: 15px;
}

.burger-menu {

    color: white;
    margin-left: 10px;
    padding: 4px;
    border: white solid 1px;
    border-radius: 3px;
    margin-top: 5px;
    display: block;
}

.botonBurger{
    background-color: #3694F5;
    border: none;
    color:white
}

.logoCachogoPetShop {
 
    height: 60px;
    padding-right: 40px;
    padding-left: 40px;

}

.textoBuscarEnBarra {
    color: grey;
    font-size: 11px;
    padding-left: 8px;
    height: 20px;
    border-radius: 8px;
    display: none;
    width: 70%;
    border: solid 0px white;
    outline: none

        /*para sacar el borde negro del input al darle un click */
}

.searchIcon {
    color: black;
    padding-right: 10px;
    display: none
}

.input-searchIcon {
    display: none;
    background-color: white;
    border-radius: 8px;
    border: solid 1px white;
    align-items: center;
    justify-content: space-between;
    width: 40vw
}

.botonSearch-Desktop{

    background-color: white;
    border: none;
    position: relative;
    right: 3px;
  
}





.logo-wapp-desktop {
    color: white;
    display: none;
}

.logosMargenDerecho {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
}

.iconoUserRegistrarse {
    justify-content: center;
    padding-left: 2px;
}

.iconoMisCompras {
    justify-content: center;
    padding-left: 2px;
}

.IniciarSesion {
    display: none;
    font-size: 12px;
    text-transform: capitalize;

}

.Registrarse {
    display: none;
    font-size: 12px;
}

.misCompras {
    display: none;
    font-size: 12px;
}

.iconoBuscarMargenDerecho {
    padding-right: 2px;
    display: block;
}

.iconoUserMargenDerecho {
    padding-right: 20px;
    padding-left: 20px;
}

.iconoCarritoMargenDerecho {
    padding-right: 10px;
}

.logo-wapp-desktop {
    padding-right: 10px;
    padding-left: 10px;
}

.contenedorInferior {
    background-color: #3694F5;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    font-size: 14px;
    display: none;
}

.rigthBottomHeader {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

header nav .productos{

    background-color: #456A99;
    padding: 3px 5px 3px 5px;
    border-radius: 8px;
}
.Inicio {
    padding-right: 20px;
}

.Ofertas {
    padding-right: 20px;
}

.Blog {
    padding-right: 20px;
}

.Sucursales {
    padding-right: 20px;
}

.Contacto {
    padding-right: 20px;
}


button:hover , button:focus{  /* TRANSFORMO POINTER DEL MOUSE EN LOS BOTONES-- */

    cursor:pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}





/*--------------------------------------------------1ra qery 525px----------------------------------------------------*/

@media (min-width:525px) {
                                    /* FIJACION DEL HEADER-- */
    
    .mainHeader{
        position: fixed;
        top: 0;   /* PARA QUE SE AJUSTE AL TOPDE VIEWPORT-- */
        width: 100%;
        z-index: 999;  /* PARA QUE QUEDE ADELANTE DE TODOS LOS ELEMENTOS------- */
    }
    
    main{
        margin-top: 150px;  /* PARA QUE EL MAIN NO QUEDE TAPADO INICIALMENTE POR EL HEADER------- */
    }
    
    
    
    
    .contenedorSuperior {
        display: none;
    }

    .contenedorIntermedio {
        border-top: none;
        border-bottom: none;
        height: 100px;
    }

    .burger-logoPet {
        height: 90px;
    }

    .burger-menu {
        display: none;
    }

    .logoCachogoPetShop {
        width: 100%;
        height: 75px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 10px;
    }

    .logo-wapp-desktop {
        display: block
    }

    .input-searchIcon {
        display: flex;
        padding: 3px 0px 3px 0px;
    }

    .contenedorInferior {
        display: flex
    }

    .textoBuscarEnBarra {
        display: block;
    }

    .searchIcon {
        display: block
    }

    .iconoBuscarMargenDerecho {
        display: none
    }
}

/*--------------------------------------------------2da qery 750px----------------------------------------------------*/

@media (min-width:750px) {

    .iconoUserRegistrarse {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-right: 8px;
    }

    .iconoMisCompras {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px
    }

    .IniciarSesion {
        display: block;
    }

    .Registrarse {
        display: block;
    }

    .misCompras {
        display: block;
        font-size: 12px;
    }
}




/*  ------------------------------------------------/FOOTER------------------------------------------------- */

.newsLetter {
    background-color: #456A99;
    height: 160px;
    justify-content: center;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrarseNewsletter-mobile {
    width: 90%;
    outline: none;
    /*para sacar el borde negro del input al darle un click */
    border: solid 0px white;
    border-color: white;
    border-radius: 8px;
    font-size: 13px;
    padding-left: 8px;
    height: 32px
}


.envolope-Frase {
 
    color: white;
}
.BotonSuscribite {
    width: 90%;
    outline: none;
    /*para sacar el borde negro del input al darle un click */
    border: solid 0px white;
    border-color: white;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 17px;
    font-weight: bold;
    background-color: grey;
    height: 32px
}

footer p {
    color: white;
    font-size: 25px;
}





/*------------------------------------FOOTER INTERMEDIO MOBILE-------------------------------------------------------------------------- */

.footerIntermedio-mobile{

    background-color:#3694F5 ;
    border-bottom: dotted 1px white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    padding-bottom: 5px;
    
}

.logoCachogoPetShop-footer{

    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
    max-width: 120px;
    

}

.footerInferior-mobile{

    background-color:#3694F5 ;

}



.footerInferior-links{

    padding-top: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 30px;
    padding-left: 0px;
    margin-right: 15px;
    color: white;
}

.footerInferior-links li{

   padding-bottom: 8px;

}

.enlacesFooter-mobile{
    display: flex;
    justify-content: space-between;
}

.enlacesFooterRedes-mobile{
    display: flex;
    padding-top: 5px;
    justify-content: flex-start;
    align-items: center;

}

.redesSociales-mobile{

    display: flex;
    padding-top: 5px;
    align-items: center;
}

.botonAmpliar-mobile{
    color: white;
}

.Instagram{
    width: 40px;
    height: 40px;

}
.Facebook{
width: 35px;
height: 33px;
margin-left: 6px;
margin-right: 6px;

}
.Youtube{
width: 40px;
height: 40px;

}


/*------------------------------------FOOTER INFERIOR DESKTOP-------------------------------------------------------------------------- */
.footerInferior-desktop{

    display: none;
}

/*------------------------------------SOCALO MOBILE-------------------------------------------------------------------------- */
.socalo-mobile{

    background-color: antiquewhite;
    align-items: center;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px
   
}

.dataFiscal-mobile{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 8px;

}

.infoSocalo li{

    font-size: 11px;
    color:black
}


/*------------------------------------SOCALO DESKTOP-------------------------------------------------------------------------- */
.socalo-desktop{
    display: none;
}

.dataFiscal-desktop{
    display: none;
}


/*---------------------------------------------@QUERY----------------------------------------------------------------- */

@media (min-width:750px) {

    .newsLetter {
        background-color: #456A99;
        display: flex;
        width: 100%;
        height: 80px;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        justify-content: space-between;
        width: 90%;
        border-radius: 8px;
        height: 30px;
        align-items: center;
    }

    .envolope-Frase {
        width: 50%;
        display: flex;
        align-items: center;
        color: white;
    }

    .iconoMensaje {
        padding-right: 10%;
    }

    .barraSuscribirse-BotonRegistrarse {
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 50%;
        height: 38px;
        align-items: center;
        border: white 1px solid;
        border-radius: 8px;
        margin-left: 20px;
    }

    .registrarseNewsletter {
        border: solid 0px white;
        border-color: white;
        outline: none;
        /*para sacar el borde negro del input al darle un click */
        margin-left: 5px;
        font-size: 13px;
    }

    .botonSuscribirse {
        border-radius: 8px;
        border: 1px;
        color: black;
        background-color: grey;
        font-size: 13px;
        height: 36px;
    }



}

    @media (min-width:950px) {



        .footerIntermedio-mobile{

            display: none;
        }
    
        .footerInferior-mobile{
    
            display: none;
        }
    
    .footerInferior-desktop{

    display: flex;  
    align-items: center;
    background-color:#3694F5 ;
    height: 215px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 25px;
}

    .logoCachogoPetShop-footer{
        width: 100%;
        height: 90px;
        margin-left: 30px;  /*OJO!! */;
        margin-top: 20px;
    }

    .links{

        display: flex;
        margin-inline: auto; 
        margin-top: 20px;     
    }

    
.listadoLinksNosotros li{

    padding-bottom: 5px;
}

.listadoLinksCategorias li{

    padding-bottom: 5px;
}

.listadoLinksInformacion li{

    padding-bottom: 5px;
}

.listadoLinksSeguinos-FormasdePago{

    margin-right: 5px;
}
    
    .redesSociales{

        display: flex;
        padding-top: 5px;
        align-items: center;
    }

    .tarjetas{

        display: flex;
        padding-top: 5px;
        align-items: center;

    }

    .visa{

        width: 40px;
        height: 40px;


    }

    .AmericanExpress{
    width: 40px;
    height: 30px;
    margin-left: 6px;
    margin-right: 6px;


}

    .mercadoPago{
    width: 40px;
    height: 30px;

}

    .Instagram{
        width: 40px;
        height: 40px;
    
}
.Facebook{
    width: 35px;
    height: 33px;
    margin-left: 6px;
    margin-right: 6px;

}
.Youtube{
    width: 40px;
    height: 40px;

}

.Nosotros , .Categorías ,.informacion , .redes , .formasDePago{

    font-size: 16px;
    font-weight: bold;
    
}

.socalo-mobile{

    display: none;
}

.socalo-desktop{
    
    background-color: antiquewhite;
    align-items: center;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px; 
 
}
.infoSocalo li {

    display: flex;
    color: black;
    font-size: 10px;
}

.dataFiscal-desktop{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 8px;

}
 }
