
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px;
    border: 2px solid;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    background-color: rgba(235, 233, 233, 0.767);

}

.titulo-edicion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-decoration:underline
}


legend{

font-weight: bold;

}

label{

    font-style: italic;
}
.fecha{

    display: flex;
    flex-direction: column;
    align-items: left;

}

fieldset{
    margin-bottom: 10px;
    border-radius: 4px;

}

.fieldset-producto div{

    margin-bottom: 8px;
}


.fieldset-producto input{

    margin-top: 5px;
}



.categoria-fieldset-producto div{

    margin-bottom: 8px;
}


.referencia-SKU, .nombre-producto, .descripcion-producto, .marca-producto, .lote-cantidad-producto {

    display: flex;
    flex-direction: column;
    align-items: left;

}


.precio-producto{
    display: flex;
    flex-direction: column;
    align-items: left;
}


.palabras{
    width: 100%;
}




.botonBuscar{
    display: flex;
    justify-content:space-between;
    margin-bottom:0px;
  
}

.edicionProductonro{
    font-weight: bold;

}

.botonBusc{
   
    border-radius: 8px;
    margin-right: 8px;
    background-color: rgba(181, 181, 181, 0.914);
    
}

.botonReset{

    border-radius: 8px;
    
   
}

.botonSobre{

    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom:8px;
   
}


.botonSobreescribir{
    margin-right: 10px;
    border-radius: 8px;
    width: 150px;
    background-color: rgba(181, 181, 181, 0.914);
    font-size: 14px;
    font-weight: bold;
 
}

.erroresEditProd {          
          
    text-align: center;
    display: flex;
    border-radius: 10px;
    border: 1px solid #3694F5;
    flex-direction: column;
    flex-wrap: wrap;
    margin-inline: auto;
    align-items: center;
    border-radius: 10px;
    width: 470px;
    background-color: rgb(223, 219, 219);         
  
}

.erroresEditProd li{

    text-decoration: black dotted;
    text-align: center;
    border-radius: 10px;
    color:#ff1024;
}

@media (min-width:750px){
    form{
        width: 50%;
    }

}