* {
    box-sizing: border-box;
}
.mainProductList {

    width: 100%;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 182px;
}

.mainProductList aside {
    width: 244px;
    margin-right: 8px;
    margin: 1%;
    display: flex;
    flex-direction: column;
}


.filters {
    border: 1px solid silver;
    margin-bottom: 2px;
    padding: 10px;
    background: #EBF5FA;
    border-radius: 4px;
    border: none;
    margin: 10px 0;

}

.filters h2 {
    font-size: 17px;
    text-align: inherit;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: bold;
}

.filters__titles {
    text-transform: uppercase;
    font-weight: 600;
}
.cards {
    order: 1;
    margin: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content:flex-start;

}

.card {
    width: 270px;
    height: 430px;
    margin: 8px;
    border: 1px solid rgba(35,65,150,.15);
    padding: 14px 8px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex-basis: 29%;
    border-radius: 3%;
    
}

.card img {
    width: 268px;
    height: 268px;

}

.card p {
    text-align: center;
    text-transform: uppercase;
}
.card .card__productCuota {
    text-transform: capitalize;

}

.card:hover{
    border: 1px solid blue;
    cursor: pointer;
}

.activeForm{
    display: block;
}

.activeFormMobile{
    display: none;
}




.colorListadoEdit{
  color:black;
  list-style-type: circle
    
}

@media (max-width: 640px){
.mainProductList {
        padding: 0;
        flex-direction: column;
        margin-top: 20px;
    }

    .card {
        flex-basis: 40%;
        margin: 4px;
    }

    .card img {
        width: 150px;
        height: auto;
    }

    .activeFormMobile {
       
        display: block;
    font-size: 14px;
    width: 200px;
    border: 1px solid silver;
    padding: 10px;
        
    }
    .activeForm {
        display: none;
    }
}