

<%- include('partials/head') %>

<link rel="stylesheet" href="/css/perfil.css">   <!-- dejo esta linea en este archivo -->
</head>


<body>

    <%- include('partials/header') %>

    <main>


        <div class="enlaceEditarUsuario"> 
                
            <!-- href="/products/edit">  redireccion a la vista de edicionporsku, segun archivo rutas.-->
        <h2 class ="titulCont">Contactos</h2>
        

        </div> 

   

    </main>
    
    <%- include('partials/footer') %>

  


</body>

</html>