
<%- include('partials/head') %>
   
<link rel="stylesheet" href="/css/stylecreacionproducto.css">     
      
</head>

<body>
    
    <%- include('partials/header') %>

    <main>

    
        <form  method="post" action="/products" enctype="multipart/form-data">

            <div class="titulo-creacion">
                <p >Creacion Producto</p>

            </div>
               
            <div class="enlaceEdit"> 
                
                                            <!-- href="/products/edit">  redireccion a la vista de edicionporsku, segun archivo rutas.-->
                <a class = "EnlaceEditar" href="/products/edit">Editar Producto</a>
         
            </div> 

            <fieldset class ="fieldset-producto">
                <legend>Producto</legend>     
    
                
                <div class = "nombre-producto">
                    <label for="nombreProducto">Nombre</label>
                    <input class="nombreprod" type="text" name="nombre" id="nombreProducto" placeholder="Nombre del producto"  autocomplete="on">

                </div>

                    
                <div class = "descripcion-producto">
                    <label for="descripcionProducto">Descripción</label>
                    <input class="descriProd" type="text" name="descripcion" id="descripcionProducto" placeholder="Descripcion del producto"  autocomplete="on">

                </div>


                <div class = "marca-producto">
                    <label for="marcaProducto">Marca</label>
                    <input class="marcaProd" type="text" name="marca" id="marcaProducto" placeholder="Marca del producto"  autocomplete="on">
    
                </div>
                  

                <div class="archivos">
                    <div class = "imagen-producto">
                        <label for="imagenProducto">Imagen</label>
                        <div class="imgProd">
                            <input type="file" name="imagen" id="imagenProducto">
                        </div>
                    </div>


                    <!-- <div class = "ArchivoAdjunto">
                        <label for="Adjunto">Adjunto</label>
                        <div class="ArcAdj">
                            <input type="file" name="Adjunto" id="Adjunto">
                        </div>
                    </div> -->

                </div>
            </fieldset>

            <div class = "categoria-animal">

                <fieldset>
                    <legend>Categoría - Animales</legend>

                    
                    <div>
                        <label for="perro"><input class="categPerro" type="radio" name="categoriaAnimal" id="perro">Perro</label>
                        
                     </div>

                    <div>
                        <label for="gato"><input class="categGato" type="radio" name="categoriaAnimal" id="gato" >Gato</label>
                        
                    </div>

                    <div>
                        <label for="pez"><input class="categPez" type="radio" name="categoriaAnimal" id="pez" >Pez</label>
       
                    </div>

                    <div>
                        <label for="ave"><input class="categAve" type="radio" name="categoriaAnimal" id="ave" >Ave</label>
                        
                    </div>


                </fieldset>

            </div>

            <div class = "categoria-producto">
                
                <fieldset class="categoria-fieldset-producto">

                    <legend>Categoría - Productos</legend>
                                                                    <!-- name (subcategoriaProducto) debe ser igual a la clave del dataBase -->
                    <div>
                    
                        <label for="alimento"><input class="alim" type="radio" name="subcategoriaProducto" id="alimento">Alimentos</label>
                        

                    </div>
                    <div>
                        <label for="juguete"><input class="jugue" type="radio" name="subcategoriaProducto" id="juguete" >Juguetes</label>
                        

                        <label for="camasEInd"><input class="camaeIN" type="radio" name="subcategoriaProducto" id="camasEInd" >Camas e indumentaria</label>
                        
                    </div>
        
                    <div>
                        <label for="PaseosYViajes"><input class="paseo-viaje" type="radio"  id="PaseosYViajes" name="subcategoriaProducto" >Paseos y viajes</label>
                        
                    </div>

                </fieldset>

            </div>


            <fieldset>
                <legend>Alimentos - Kg</legend>


                <div class = "kg-producto">
                    <label for="kilosProducto1">Kg1:</label>
                    <input class="kilosProd" type="number" name="kilogramos1" id="kilosProducto1" placeholder="Cantidad de kg - Opcion 1" >

                </div>

                <div class = "kg-producto">
                    <label for="kilosProducto2">Kg2:</label>
                    <input class="kilosProd" type="number" name="kilogramos2" id="kilosProducto2" placeholder="Cantidad de kg - Opcion 2" >

                </div>

                <div class = "kg-producto">
                    <label for="kilosProducto3">Kg3:</label>
                    <input class="kilosProd" type="number" name="kilogramos3" id="kilosProducto3" placeholder="Cantidad de kg - Opcion 3" >

                </div>
        
            </fieldset>

            <fieldset>
                <legend>Precio</legend>


                <div class = "precio-producto">
                    <label for="precioProducto">AR$</label>
                    <input class="precioProd" type="number" name="precio" id="precioProducto" placeholder="Precio del producto"  autocomplete="on">

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Cantidad de cuotas</legend>


                <div class = "cuotas-producto">
                    <label for="cuotasProducto">Cuotas:</label>
                    <input class="cuotasProd" type="number" name="cantidadCuotas" id="cantidadCuotas" placeholder="Cantidad de cuotas del producto" >

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Deposito Entrante</legend>


                <div class = "depositoEntrante-producto">
                    <label for="depositoProducto">Unidades entrantes:</label>
                    <input class="depoProd" type="number" name="depositoEntrante" id="depositoEntrante" placeholder="Deposito entrate del producto" >

                </div>
        

            </fieldset>


            <!-- <fieldset>
                <legend>Stock</legend>


                <div class = "stock-producto">
                    <label for="stockProducto">Stock:</label>
                    <input class="stoProd" type="number" name="stock" id="stock" placeholder="Stock inicial del producto" >

                </div>
        

            </fieldset> -->


            <!-- <fieldset>
                <legend>Detalles</legend>
                   
                <div class = "palabras-claves">
                   
                    <textarea class="palabras" id="palabrasClaves" name="palabrasClaves" rows="5" cols="33">Palabras claves...</textarea>

                </div>
            </fieldset> -->

        
            <div class = "botones">
                
                <input class ="botonIngresar" type="submit" name="Ingresar" value="Ingresar" />
                <input class ="botonReset" type="reset" name="reset" value="Restablecer" />

            </div>      

        </form>

</main>

<%- include('partials/footer') %>

</body>

</html>


