<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachogos Pet Shop</title>

    <!-- referencio a las hojas de estilo ppal (header y footer) y secundaria para esta pag (main)-->
 
    <link rel="stylesheet" href="/css/menu.css">   
    
    
    <!-- <link rel="shortcut icon" href="favicon.ico"> todavia no se coloco ningun icono pero dejo la estructura-->
    
    <link rel="icon" type="image/png" href="/img/LOGO-PETSHOP.png" >  <!--imagen de nombre 'icono', formato '.png', en carpeta local 'imag' -->
    
    <!--siguientes 3 link copiados de google fonts para importar el tipo de letra ROBOTO, aplicado en el archivo .css -->
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
   
    
    <!--link copiados fontawsome cdn, ultima version para importar iconos -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <!--paquete bootstrap -->

  
</head>



<body>   

        <!-- <div class="contMenu"> linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
        
                        
            <nav class="leftNavBar">

                <ul>
                    
                    <li><a class="productos" href="Productos.html">Productos</a>
                    
                        <ul class="animales">

                            <li><a class="Perros" href="Perros.html">Perros</a>

                                <ul class="clasificacion">

                                    <li><a class="Alimentos" href="Perros.html">Alimentos</a></li>
                                    <li><a class="Juguetes" href="Gatos.html">Juguetes</a></li>
                                    <li><a class="Accesorios" href="Peces.html">Accesorios</a></li>
                                    
                                    
                                </ul>
                            </li>
                            <li><a class="Gatos" href="Gatos.html">Gatos</a>

                                <ul class="clasificacion">

                                    <li><a class="Alimentos" href="Perros.html">Alimentos</a></li>
                                    <li><a class="Juguetes" href="Gatos.html">Juguetes</a></li>
                                    <li><a class="Accesorios" href="Peces.html">Accesorios</a></li>
                                    
                                    
                                </ul>
                            </li>
                            <li><a class="Peces" href="Peces.html">Peces</a>

                                <ul class="clasificacion">

                                    <li><a class="Alimentos" href="Perros.html">Alimentos</a></li>
                                    <li><a class="Juguetes" href="Gatos.html">Juguetes</a></li>
                                    <li><a class="Accesorios" href="Peces.html">Accesorios</a></li>
                                    
                                    
                                </ul>
                            </li>
                            <li><a class="Aves" href="Aves.html">Aves</a>

                                <ul class="clasificacion">

                                    <li><a class="Alimentos" href="Perros.html">Alimentos</a></li>
                                    <li><a class="Juguetes" href="Gatos.html">Juguetes</a></li>
                                    <li><a class="Accesorios" href="Peces.html">Accesorios</a></li>
                                    
                                    
                                </ul>
                            </li>
                        </ul>
                    
                    
                    </li>
                    
            <!-- </nav>
            
            <nav class="rightNavBar">
                <ul>

                        <li ><a class="Inicio" href="/index">Inicio</a></li>
                        <li ><a class="Ofertas" href="Ofertas.html">Ofertas</a></li>
                        <li ><a class="Blog" href="Blog.html">Blog</a></li>
                        <li ><a class="Sucursales" href="Sucursales.html">Sucursales</a></li>
                        <li ><a class="Contacto" href="Contacto.html">Contacto</a></li>
                    
                </ul>       
            </nav> -->

            </nav>
  

</body>


</html>