

<%- include('partials/head') %>

<link rel="stylesheet" href="/css/terminosYCond.css">   <!-- dejo esta linea en este archivo -->
</head>


<body>

    <%- include('partials/header') %>

    <main class="mainTerminosYCond">
  

            <div class="divTerminosPadre"> 
                    
                <!-- href="/products/edit">  redireccion a la vista de edicionporsku, segun archivo rutas.-->
                <h2 class ="tituloTerminos">Términos y condiciones:</h2>
                <div class="divTerminosHijo">
                    <p>
                        Bienvenidos a natural-life.com.ar, la tienda líder para mascotas con más de 30 sucursales y una web donde podés encontrar todo lo que tu mascota necesita.
                        A continuación, detallamos las reglas básicas de uso del servicio de este sitio perteneciente a Silver Pet S.A. (que en adelante llamaremos La Reglas).
                        Nuestra área de cobertura geográfica para entregas a domicilio se encuentra detallada en la sección Delivery. Cualquier entrega que se solicite para un destino fuera de este área queda sujeta a la disponibilidad de la empresa.
                    </p>
                    <p>
                        Además, contamos con sucursales donde podés retirar tus pedidos, distribuidas en diferentes zonas de: Capital Federal (Villa Devoto, Belgrano, Liniers, Mataderos, Caballito y Palermo), G.B.A. zona Oeste (Ituzaingó, Merlo, Moreno, Merlo, Luján, Villa Ballester, Bella Vista, Hurlingham, Villa Tesei, Martín Coronado), G.B.A. zona Norte (Vicente López y Campana) y G.B.A. zona sur (Adrogué, Avellaneda, Lomas de Zamora, Glew, La Plata, Bernal y Florencio Varela) y en Rosario (Circunvalación, Rosario y Pueyrredon).
                        El uso de www. natural-life.com.ar (el “website”) implica aceptar que todas las actividades que se realicen en la misma se hallan regidas por las Reglas. Asimismo, Natural Life podrá cambiar las Reglas en cualquier momento y a su exclusivo criterio. Por tal razón, te pedimos revises este apartado periódicamente. En caso de no encontrarte de acuerdo con lo expresado en esta sección, te solicitamos te abstengas de utilizar nuestro sitio web.
                    </p>
                    <p>
                        Natural Life se reserva el derecho de interrumpir o modificar el servicio que ofrece, ya sea en forma transitoria o permanente, sin aviso previo y/o consentimiento de sus usuarios y en cualquier momento a su exclusivo criterio.
                    </p>

                </div>

            </div> 
            

    
    </main>
    
    <%- include('partials/footer') %>

  


</body>

</html>