
<%- include('partials/head') %>
   
<link rel="stylesheet" href="/css/stylecreacionproducto.css">     
      
</head>

<body>
    
    <%- include('partials/header') %>

    <main>

        <form  method="post" action="/creacionproducto.ejs">

            <div class="titulo-creacion">
                <p >Ver Producto</p>
            </div>

          
            <fieldset class ="fieldset-producto">
                <legend>Producto</legend>     
                
                     
                <div class = "referencia-SKU">
                    <label for="SKUProducto">SKU / ID</label>
                    <input class="refProd" type="text" name="SKUProducto" id="SKUProducto" placeholder="SKU del producto" required autocomplete="on">

                </div>
    
                
                <legend>Fecha creación</legend>

                <div class = "fecha">
            
                    <input class="fechaCrea" type="date"  id="fechaCreacion">

                </div>

           
                
                <div class = "nombre-producto">
                    <label for="nombreProdcuto">Nombre</label>
                    <input class="nombreprod" type="text" name="nombreProdcuto" id="nombreProdcuto" placeholder="Nombre del producto" required autocomplete="on">

                </div>

                    
                <div class = "descripcion-producto">
                    <label for="descripcionProdcuto">Descripción</label>
                    <input class="descriProd" type="text" name="descripcionProdcuto" id="descripcionProdcuto" placeholder="Descripcion del producto" required autocomplete="on">

                </div>


                <div class = "marca-producto">
                    <label for="marcaProducto">Marca</label>
                    <input class="marcaProd" type="text" name="marcaProducto" id="marcaProducto" placeholder="Marca del producto" required autocomplete="on">
    
                </div>
    

                <div class = "lote-cantidad-producto">
                    <label for="CantidadProducto">Cantidad/lote</label>
                    <input class="CantProd" type="number" name="CantidadProducto" id="CantidadProducto" placeholder="Unidades" required autocomplete="on">
    
                </div>

                <div class="archivos">
                    <div class = "imagen-producto">
                        <label for="imagenProducto">Imagen</label>
                        <div class="imgProd">
                            <input type="file" name="imagenProducto" id="imagenProducto">
                        </div>
                    </div>


                    <div class = "ArchivoAdjunto">
                        <label for="Adjunto">Adjunto</label>
                        <div class="ArcAdj">
                            <input type="file" name="Adjunto" id="Adjunto">
                        </div>
                    </div>

                </div>
            </fieldset>

            <div class = "categoria-animal">

                <fieldset>
                    <legend>Categoría - Animales</legend>

                    
                    <div>
                        <label for="perro"><input class="categPerro" type="radio" name="categoriaAnimal" id="perro">Perro</label>
                        
                     </div>

                    <div>
                        <label for="gato"><input class="categGato" type="radio" name="categoriaAnimal" id="gato" >Gato</label>
                        
                    </div>

                    <div>
                        <label for="pez"><input class="categPez" type="radio" name="categoriaAnimal" id="pez" >Pez</label>
       
                    </div>

                    <div>
                        <label for="ave"><input class="categAve" type="radio" name="categoriaAnimal" id="ave" >Ave</label>
                        
                    </div>


                </fieldset>

            </div>


            <div class = "categoria-producto">
                
                <fieldset class="categoria-fieldset-producto">

                    <legend>Categoría - Productos</legend>

                    <div>
                    
                        <label for="alimento"><input class="alim" type="radio" name="Categorías" id="alimento">Alimentos</label>
                        

                    </div>
                    <div>
                        <label for="juguete"><input class="jugue" type="radio" name="Categorías" id="juguete" >Juguetes</label>
                        

                        <label for="camasEInd"><input class="camaeIN" type="radio" name="Categorías" id="camasEInd" >Camas e indumentaria</label>
                        
                    </div>
        
                    <div>
                        <label for="PaseosYViajes"><input class="paseo-viaje" type="radio"  id="PaseosYViajes" name="Categorías" >Paseos y viajes</label>
                        
                    </div>

                </fieldset>

            </div>


            <fieldset>
                <legend>Precio</legend>


                <div class = "precio-producto">
                    <label for="precioProducto">AR$</label>
                    <input class="precioProd" type="number" name="precioProducto" id="precioProducto" placeholder="Precio del producto" required autocomplete="on">

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Detalles</legend>
                   
                <div class = "palabras-claves">
                   
                    <textarea class="palabras" id="palabrasClaves" name="palabrasClaves" rows="5" cols="33">Palabras claves...</textarea>

                </div>
            </fieldset>     
          


        </form>


</main>

<%- include('partials/footer') %>



</body>


</html>


