<header class="mainHeader"> 
    <!--es el header completo, que tendra tres lineas grandes, primera con logo llamada + nro + logo wapp, 
   segunda con logoPetShop + barra buscadora + iconos de register y carrito y tercera con nav bar. -->

  <div class="contenedorSuperior">
   
   
           <ul class ="listaLogo-Llamada-Numero-wapp">

               <li><a class ="phone" href="aaaaa.html"><i class="fa-solid fa-phone" ></i></a></li>
               <li><a class="numero" href="bbbbb.html">0800-999-2345</a></li>                
               <li class="separador">|</li>                                
               <li><a class="logoWapp" href="bbbbb.html"><i class="fa-brands fa-whatsapp"></i></a></li>
           </ul>                 
      
  </div>
    

   <div class = "contenedorIntermedio">   <!--linea superior del header que sera contenedor padre flex de logo, barra buscadora y 3 iconos -->

               
       <div class="burger-logoPet">
           <div class="burger-menu">

               <button type="submit" class="botonBurger"><i class="fas fa-bars fa-2x"></i></button>
   
           </div>      
           
           <a href="/"><img class="logoCachogoPetShop" src = "/Logo imgs/Logo7 color sec 1.png" alt="Logotipo Cachgos Pet Shop"></a>
       </div>
                

       <div class="input-searchIcon"> <!--modo desktop -  barra buscadora-->

          <input type="text" class="textoBuscarEnBarra" placeholder="Buscar...">            
          <button class="botonSearch-Desktop" type="submit"><i class="fa-solid fa-magnifying-glass botonSearchDektop"></i></button> <!--searchIcon es la segunda clase del icono search-->
         
       </div>
     
                          
       <ul class = "logosMargenDerecho">

           <li><a class="logo-wapp-desktop" href="aaaaa.html"><i class="fa-brands fa-whatsapp"></i></a></li>
           <li><a class="iconoBuscarMargenDerecho" href="aaaaa.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
           
           <ul class="iconoUserRegistrarse">
               <li><a class="iconoUserMargenDerecho" href="/login"><i class="fa-solid fa-user"></i></a></li>
               <li><a class="IniciarSesion" href="/login">Iniciar Sesión/</a></li>
               <li><a class="Registrarse" href="/register">Registrarse</a></li>
               
           </ul>

           <ul class="iconoMisCompras">
           <li><a class="iconoCarritoMargenDerecho" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
           <li><a class="misCompras" href="/carrito">Mis Compras</a></li>
           </ul>

       </ul>

   </div>

   <nav class="contenedorInferior"> <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
   
       <ul class="leftBottomHeader">

           <li><a class="productos" href="Productos.html">Productos</a></li>
           
       </ul>

       <ul class="rigthBottomHeader">

           <li ><a class="Inicio" href="/">Inicio</a></li>
           <li ><a class="Ofertas" href="Ofertas.html">Ofertas</a></li>
           <li ><a class="Blog" href="Blog.html">Blog</a></li>
           <li ><a class="Sucursales" href="Sucursales.html">Sucursales</a></li>
           <li ><a class="Contacto" href="Contacto.html">Contacto</a></li>
       
       </ul>                                    

   </nav>

  

</header>