<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/stylesRegister.css">   <!-- dejo esta linea en este archivo -->
</head>

<body>

    <%- include('../partials/header') %>

    

<main>
     
  
               
        <h2 class="titulo-main">Crear mi cuenta</h2>
        <form action="/users/register" class="" id="" method="post" enctype="multipart/form-data">
            <div class="campos-form">

                <!-- Grupo: Nombre -->
                <div class="nombre" id="">
                    <label for="nombre" class="nameLabel">Nombre</label>
                    <div class="nameInput-i">
                        <input type="text" class="nameInput" name="nombre" id="nombre" placeholder="example John">
                        <div class="nameIcon">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                    </div>
                    <p class="error-name">El nombre tiene que ser de 2 a 16 carácteres, no debe incluir numeros ni
                        simbolos.</p>
                </div>
                <!-- Grupo: Apellido -->
                <div class="apellido" id="">
                    <label for="apellido" class="lastnameLabel">Apellido</label>
                    <div class="lastnameInput-i">
                        <input type="text" class="lastnameInput" name="apellido" id="apellido"
                            placeholder="example Travolta">
                        <div class="lastnameIcon">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                    </div>
                    <p class="error-lastname">El apellido tiene que ser de 2 a 16 carácteres, no debe incluir numeros ni
                        simbolos.</p>
                </div>
                <!-- Grupo: Email -->
                <div class="email" id="">
                    <label for="email" class="mailLabel">E-mail</label>
                    <div class="mailInput-i">
                        <input type="email" class="mailInput" name="email" id="email" placeholder="correo@correo.com">
                        <div class="mailIcon">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                    </div>
                    <p class="error-email">El email tiene que ser un formato de mail valido.</p>
                </div>
                <!-- Grupo: Imagen -->
                <div class="Image" id="">
                    <label for="image" class="imageLabel">Imagen de perfil</label>
                    <div class="imageInput-i">
                        <input type="file" class="imageInput" name="image" id="image">
                        <div class="imageIcon">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                    </div>
                    <p class="error-image">Solo puede cargar una imagen.</p>
                </div>
                <!-- Grupo: Contraseña -->
                <div class="contraseña" id="">
                    <label for="password" class="contraLabel">Contraseña</label>
                    <div class="contraInput-i">
                        <input type="password" class="contraInput" name="password" id="password" placeholder="********">
                        <div class="contraIcon">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                    </div>
                    <p class="error-password">La contraseña tiene que ser de 8 a 16 carácteres, debe incluir minimamente
                        mayúscula, minúscula y número.</p>
                </div>
                <!-- <div class="archivos">
                    <div class = "imagen-producto">
                        <label for="imagenProducto">Imagen</label>
                        <div class="imgProd">
                            <input type="file" name="imagen" id="imagenProducto" multiple>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- Grupo: Terminos y Condiciones -->
            <div class="terminos" id="">
                <label for="terminos" class="terminosLabel"></label>
                <input type="checkbox" class="checkInput" name="terminos" id="terminos">
                Acepto los Terminos y Condiciones
            </div>
            <div class="error-formulario" id="">
                <p class=""><b>Error:</b> Por favor rellena el formulario correctamente.</p>
            </div>
            <div class="boton-registro">
                <button type="submit" class="boton">Registrarme</button>
            </div>
        </form>

    </main>

    <%- include('../partials/footer') %>

</body>

</html>